extends layout

block content
  br
  br
  br
  br
  h1 About the project
  p For those that made there way here.
  hr
  .row
    .col-sm-12
      p This is a layer in between the front end applications of Logro, and the hungry-interceptor project. It aims to make it easier to direct traffic, as a support project with built in cluster support. Now go read the some docs for more information.
